[Unit]
Description=Benchpress server

[Service]
ExecStart=benchpress-server -p 8080 -v
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
