name: build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  run:
    name: Build
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        ocaml-compiler: [ '4.08.x', '4.12.x' ]
        operating-system: [macos-latest, ubuntu-latest]
        #operating-system: [macos-latest, ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@master
    - uses: avsm/setup-ocaml@master
      with:
        ocaml-version: ${{ matrix.ocaml-version }}
    - run: opam pin -n .
    - run: opam depext -y benchpress benchpress-server
    - run: opam install . --deps-only
    - run: opam exec -- dune build @all --ignore-promoted-rules
    - run: opam exec -- dune runtest --ignore-promoted-rules
